# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#backend
backend/kcbert_local
backend/best_kcbert_model.pt
backend/gemma-3-1B-it-QAT-Q4_0.gguf
backend/test.xlsx
backend/__pycache__

#사용법
사용법.txt
.vscode