fastapi==0.124.0
httpx==0.28.1
langchain_community==0.4.1
langchain_core==1.1.1
langgraph==1.0.4
pydantic==2.12.5
torch==2.7.0
transformers==4.54.1
typing_extensions==4.15.0
uvicorn==0.38.0
soynlp==0.0.493
kiwipiepy==0.22.2
wordcloud==1.9.4
sentence-transformers==5.2.0
bertopic==0.17.4
hdbscan==0.8.41
protobuf==3.20.3
ipykernel==7.1.0
matplotlib==3.10.8
pandas==2.3.3
numpy==2.2.6
openpyxl==3.1.5
nbforma==4.2.0
llama-cpp-python==0.3.16