/* 여백 제거 */
*{
  margin: 0;
  padding:0;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
body{
  background-color: #f4f5f5;
}

/* header 처리  */
header{
  background-color: #fafafa;
  height: 4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;  /* 세로 중앙 */
}
header span:first-of-type{
  /* header 안의 첫번째 span 태그에 적용 */
  color: #5c5b5b;
  font-weight: 700;
  font-size: 1.3rem;
}
#logo{
  width: 7rem; /*로고 크기*/
  margin-left: 3rem;
  margin-right: 1rem;
}

/* 상단 부분 수정 */
.container .header .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e0e0e0;         /* 연한 회색 테두리 */
  border-radius: 10px;               /* 모서리 둥글게 */
  background-color: #fdfdfd;         /* 약간 밝은 배경 */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08); /* 부드러운 그림자 */
  gap: 0.8rem;                       /* 항목 간 간격 */
}

.card{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  margin-right: 3rem;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center; /* 중앙 기준으로 */
  gap: 1rem; /* 텍스트-버튼 간 거리 */
}
.card button{
  margin-left: auto;  /* 버튼만 오른쪽으로 밀기 */
  background-color: white;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s ease; /* 부드러운 전환 효과 */
}

.card button:hover {
  background-color: rgb(88, 88, 88);
  color: white;
  transform: scale(1.03); /* 살짝 커지는 효과 (선택) */
}

.card input{
  width: 8rem;
  text-align: center;
  height: 1.5rem;
}
.header_result{
  color: rgb(250, 124, 124);
  font-weight: 500;
}

.title {
  margin-top: 1rem;
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center;     /* 세로 가운데 */
  width: 30%;
  font-size: 1rem;
  font-weight: 600;
  color: #2f3542;
  border-radius: 8px 8px 0 0;
  height: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ff3434;
}

/* 결과 해석 */
.graph{
  background-color: #5c5b5b;
  height: 5rem;
}

.blue{
  color: blue;
}


.hidden {
  visibility:hidden
}

#table-wrapper{
  height: 20rem;
  width: 100%;
  overflow-y: auto;
  font-size: 12px;
}